<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project_id %>
</p>
<%# Falta Prolijidad por tiempo %>
<% if @task.subtasks.present? %>
  <h3>Sub Tareas</h3>  
  <table class="table">
    <thead>
      <% if @task.subtasks.first.weekday == 3 %>
        <tr>
          <th scope="col">Miércoles</th>
          <th scope="col">Jueves</th>
          <th scope="col">Viernes</th>
          <th scope="col">Sábado</th>
          <th scope="col">Domingo</th>
          <th scope="col">Lunes</th>
          <th scope="col">Martes</th>
        </tr>
      <% else %>
        <tr>
          <th scope="col">Lunes</th>
          <th scope="col">Martes</th>
          <th scope="col">Miércoles</th>
          <th scope="col">Jueves</th>
          <th scope="col">Viernes</th>>
        </tr>
      <% end %>
    </thead>
    <tbody>
    <% if @task.subtasks.first.weekday == 3 %>
      <% @task.subtasks.order(:id).each do |st| %>
        <tr>
          <td><%= st.name if st.weekday == 3 %></td>
          <td><%= st.name if st.weekday == 4 %></td>
          <td><%= st.name if st.weekday == 5 %></td>
          <td><%= st.name if st.weekday == 6 %></td>
          <td><%= st.name if st.weekday == 7 %></td>
          <td><%= st.name if st.weekday == 1  %></td>
          <td><%= st.name if st.weekday == 2 %></td>
        </tr>
      <% end %>
    <% else %>
      <% @task.subtasks.order(:id).each do |st| %>
        <tr>
          <td><%= st.name if st.weekday == 1 %></td>
          <td><%= st.name if st.weekday == 2 %></td>
          <td><%= st.name if st.weekday == 3 %></td>
          <td><%= st.name if st.weekday == 4 %></td>
          <td><%= st.name if st.weekday == 5 %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>
<br />
<%= link_to 'Split', split_task_path(@task), class: 'btn btn-info' unless @task.subtasks.present? %>
<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-primary' %>
<%= link_to 'Back', tasks_path, class: 'btn btn-primary' %>
