<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sub_task.name %>
</p>

<p>
  <strong>Weekday:</strong>
  <%= @sub_task.weekday %>
</p>

<p>
  <strong>Task:</strong>
  <%= @sub_task.task %>
</p>

<%= link_to 'Edit', edit_sub_task_path(@sub_task), class: 'btn btn-primary'  %>
<%= link_to 'Back', sub_tasks_path, class: 'btn btn-primary'  %>
