<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: 'project_name' %>
  </div>

  <div class="field">
    <b> Días / Semana (Casos)</b><br />
    <%=radio_button_tag 'days', '1', false %> 1-2-3-4-5<br />
    <%=radio_button_tag 'days', '2', false %> 1-2-3<br />
    <%=radio_button_tag 'days', '3', false %> 3-4-5-6-7-1-2
  </div>

  <div class="field">
    <%= form.hidden_field :workingdays,:readonly => true %>
  </div>

  <div class="field">
    <%= form.fields_for :tasks do |formf|  %>
      <%= formf.hidden_field :name, id: 'task_name' %>
    <% end %>
  </div>
  <br />
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>

$( document ).on('turbolinks:load', function() {
  $('input:radio[name="days"]').change(function(){
    if($(this).is(":checked")){
      $("#task_name").val("tarea de " + $("#project_name").val())
      if ($('#days_1').is(':checked')) {
        $("#project_workingdays").val('1,2,3,4,5')
      } else if ($('#days_2').is(':checked')) {
        $("#project_workingdays").val('1,2,3')
      }else{
        $("#project_workingdays").val('3,4,5,6,7,1,2')
      }
    }
  });
})

</script>
