<h1>Editando Proyecto <%= @project.name %></h1>

<%= render 'form', project: @project %>

<%= link_to 'Show', @project, class: 'btn btn-primary' %> |
<%= link_to 'Back', projects_path, class: 'btn btn-primary' %>
