<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Workingdays:</strong>
  <%= @project.workingdays %>
</p>

<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %>
<%= link_to 'Back', projects_path, class: 'btn btn-primary' %>
